<div class="container">
  <div class="row">
    <button (click)="getInitiatives()">Generate Initiatives</button><br />
  </div>
  <div class="row">
    <h2>Roled Initiatives</h2>
  </div>
  <div class="row">
      <table class="table table-striped table-bordered">
        <thead>
          <td>Name:</td>
          <td>Round:</td>
          <td>Action #:</td>
          <td>Dex:</td>
          <td>Done:</td>
        </thead>
        <tr *ngFor="let Init of InitiativesList">
          <td>{{ Init.Name }}</td>
          <td>{{ Init.Round }}</td>
          <td>{{ Init.ActionNumber }}</td>
          <td>{{ Init.Dex }}</td>
          <td><input class="form-control" type="checkbox" /></td>
        </tr>
      </table>
  </div>
  <div class="row">
    <h3>List of Loaded Users</h3>
  </div>
  <div class="row">
      <table class="table table-striped table-bordered">
        <thead>
          <td>Name:</td>
          <td>Speed:</td>
          <td>Dex:</td>
          <td></td>
        </thead>
        <tr *ngFor="let Char of CharacterList">
          <td>{{ Char.Name }}</td>
          <td>{{ Char.Speed }}</td>
          <td>{{ Char.Dex }}</td>
          <td><button (click)="RemoveCharacter(Char)">Remove</button></td>
        </tr>
      </table>
  </div>
  <div class="row">
    <button (click)="resetCharacterList()">Reset Group</button>
  </div>
  <div class="row">
    <h3>Add Another Character</h3>
  </div>
  <div class="form">
      <div class="row">
        <div class="form-col">
            <label>Name: </label>
            <input class="form-control" [(ngModel)]="Name" />
        </div>
        <div class="form-col">
            <label> Speed: </label>
            <input class="form-control" [(ngModel)]="Speed" />
        </div>
        <div class="form-col">
            <label> Dex: </label>
            <input class="form-control" [(ngModel)]="Dex" />
        </div>
      </div>
      <div class="row"><button (click)="addAnotherCharacter()">Add Character to List</button> </div>
  </div>
</div>
