
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">{{ ApplicationName }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">
      <li *ngFor="let Item of ItemList" [ngClass]="{'dropdown': Item.ItemList}" class="nav-item">
        <a *ngIf="Item.ItemList === null && Item.DestinationURL" href="{{Item.DestinationURL}}" class="nav-link">{{Item.Title}}</a>
        <a *ngIf="Item.ItemList === null && Item.OnClick" href="javascript:void(0)" (click)="Item.OnClick(Item)" class="nav-link">{{Item.Title}}</a>

        <a *ngIf="Item.ItemList" href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-expanded="false">
          {{Item.Title}} <span class="caret"></span>
        </a>

        <ul class="dropdown-menu" role="menu">
          <li *ngFor="let ChildItem of Item.ItemList">
            <a *ngIf="ChildItem.ItemList === null && ChildItem.DestinationURL" href="{{ChildItem.DestinationURL}}" class="nav-link">{{ChildItem.Title}}</a>
            <a *ngIf="ChildItem.ItemList === null && ChildItem.OnClick" href="javascript:void(0)" (click)="ChildItem.OnClick(ChildItem)" class="nav-link">{{ChildItem.Title}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
