/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~ngx-toastr/toastr.css";


h1 {
  margin-top: 10px;
  margin-bottom: 20px;
}

body {
  padding-bottom: 50px;
}

input.mobile-small-input {
  width: 50px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  div {
    justify-content: center;
  }

  input.character-name {
    width: 50px;
  }

  input.mobile-small-input {
    width: 25px;
  }

}

